@model MEU.web.Models.StatusViewModel

<div class="form-group">
    <label asp-for="Name_status" class="control-label"></label>
    <input asp-for="Name_status" class="form-control" />
    <span asp-validation-for="Name_status" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Arrival" class="control-label"></label>
    <input asp-for="Arrival" class="form-control" />
    <span asp-validation-for="Arrival" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Anchored" class="control-label"></label>
    <input asp-for="Anchored" class="form-control" />
    <span asp-validation-for="Anchored" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Pob" class="control-label"></label>
    <input asp-for="Pob" class="form-control" />
    <span asp-validation-for="Pob" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="AllFast" class="control-label"></label>
    <input asp-for="AllFast" class="form-control" />
    <span asp-validation-for="AllFast" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Commenced" class="control-label"></label>
    <input asp-for="Commenced" class="form-control" />
    <span asp-validation-for="Commenced" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DateUpdate" class="control-label"></label>
    <input asp-for="DateUpdate" class="form-control" />
    <span asp-validation-for="DateUpdate" class="text-danger"></span>
</div>