@model MEU.web.Models.VoysViewModel

<div class="form-group">
    <label asp-for="Employ_id" class="control-label"></label>
    <select asp-for="Employ_id" asp-items="Model.Employee_list" class="form-control"></select>
    <span asp-validation-for="Employ_id" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Port_id" class="control-label"></label>
    <select asp-for="Port_id" asp-items="Model.Port_list" class="form-control"></select>
    <span asp-validation-for="Port_id" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Vessel_id" class="control-label"></label>
    <select asp-for="Vessel_id" asp-items="Model.Vessel_list" class="form-control"></select>
    <span asp-validation-for="Vessel_id" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Voy_number" class="control-label"></label>
    <input asp-for="Voy_number" class="form-control" />
    <span asp-validation-for="Voy_number" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Account" class="control-label"></label>
    <input asp-for="Account" class="form-control" />
    <span asp-validation-for="Account" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Laycan" class="control-label"></label>
    <input asp-for="Laycan" class="form-control" />
    <span asp-validation-for="Laycan" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Contract" class="control-label"></label>
    <input asp-for="Contract" class="form-control" />
    <span asp-validation-for="Contract" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Cargo" class="control-label"></label>
    <input asp-for="Cargo" class="form-control" />
    <span asp-validation-for="Cargo" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Sf" class="control-label"></label>
    <input asp-for="Sf" class="form-control" />
    <span asp-validation-for="Sf" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Pol" class="control-label"></label>
    <input asp-for="Pol" class="form-control" />
    <span asp-validation-for="Pol" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Facility" class="control-label"></label>
    <input asp-for="Facility" class="form-control" />
    <span asp-validation-for="Facility" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Pod" class="control-label"></label>
    <input asp-for="Pod" class="form-control" />
    <span asp-validation-for="Pod" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Cargo_Charterer" class="control-label"></label>
    <input asp-for="Cargo_Charterer" class="form-control" />
    <span asp-validation-for="Cargo_Charterer" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Owner_Charterer" class="control-label"></label>
    <input asp-for="Owner_Charterer" class="form-control" />
    <span asp-validation-for="Owner_Charterer" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Shipper" class="control-label"></label>
    <input asp-for="Shipper" class="form-control" />
    <span asp-validation-for="Shipper" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consignee" class="control-label"></label>
    <input asp-for="Consignee" class="form-control" />
    <span asp-validation-for="Consignee" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Latitude" class="control-label"></label>
    <input asp-for="Latitude" class="form-control" />
    <span asp-validation-for="Latitude" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Altitude" class="control-label"></label>
    <input asp-for="Altitude" class="form-control" />
    <span asp-validation-for="Altitude" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastKnowPosition" class="control-label"></label>
    <input asp-for="LastKnowPosition" class="form-control" />
    <span asp-validation-for="LastKnowPosition" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Eta" class="control-label"></label>
    <input asp-for="Eta" class="form-control" />
    <span asp-validation-for="Eta" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Etb" class="control-label"></label>
    <input asp-for="Etb" class="form-control" />
    <span asp-validation-for="Etb" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Etc" class="control-label"></label>
    <input asp-for="Etc" class="form-control" />
    <span asp-validation-for="Etc" class="text-danger"></span>
</div>