@model MEU.web.Data.Entities.Company

<h2>Create Company</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create_Company">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Company" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

