@model MEU.web.Models.OpinionViewModel

@{
    ViewData["Title"] = "EditOpinion";
}

<h2>EditOpinion</h2>

<h4>Opinion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOpinion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Voy_id" />

            <partial name="_Opinion" />
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

