@model MEU.web.Models.StatusViewModel
@{
    ViewData["Title"] = "EditStatus";
}

<h2>EditStatus</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStatus">
            <input type="hidden" asp-for="Voy_id" />
            <input type="hidden" asp-for="Id" />

            <partial name="_Status" />
            

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>
