@model MEU.web.Data.Entities.VesselType

    <div class="form-group">
        <label asp-for="Type_Vessel" class="control-label"></label>
        <input asp-for="Type_Vessel" class="form-control" />
        <span asp-validation-for="Type_Vessel" class="text-danger"></span>
    </div>