@model MEU.web.Models.LineUpViewModel

<div class="form-group">
    <label asp-for="Vessel" class="control-label"></label>
    <input asp-for="Vessel" class="form-control" />
    <span asp-validation-for="Vessel" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Eta" class="control-label"></label>
    <input asp-for="Eta" class="form-control" />
    <span asp-validation-for="Eta" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Etb" class="control-label"></label>
    <input asp-for="Etb" class="form-control" />
    <span asp-validation-for="Etb" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Etc" class="control-label"></label>
    <input asp-for="Etc" class="form-control" />
    <span asp-validation-for="Etc" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Etd" class="control-label"></label>
    <input asp-for="Etd" class="form-control" />
    <span asp-validation-for="Etd" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Status" class="control-label"></label>
    <input asp-for="Status" class="form-control" />
    <span asp-validation-for="Status" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Cargo" class="control-label"></label>
    <input asp-for="Cargo" class="form-control" />
    <span asp-validation-for="Cargo" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Quantity" class="control-label"></label>
    <input asp-for="Quantity" class="form-control" />
    <span asp-validation-for="Quantity" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Laycan" class="control-label"></label>
    <input asp-for="Laycan" class="form-control" />
    <span asp-validation-for="Laycan" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Pol_Pod" class="control-label"></label>
    <input asp-for="Pol_Pod" class="form-control" />
    <span asp-validation-for="Pol_Pod" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Shipper_Consignee" class="control-label"></label>
    <input asp-for="Shipper_Consignee" class="form-control" />
    <span asp-validation-for="Shipper_Consignee" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Cargo_Charterer" class="control-label"></label>
    <input asp-for="Cargo_Charterer" class="form-control" />
    <span asp-validation-for="Cargo_Charterer" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Agency" class="control-label"></label>
    <input asp-for="Agency" class="form-control" />
    <span asp-validation-for="Agency" class="text-danger"></span>
</div>
