@model MEU.web.Models.PortViewModel

<div class="form-group">
    <label asp-for="Port_Name" class="control-label"></label>
    <input asp-for="Port_Name" class="form-control" />
    <span asp-validation-for="Port_Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" class="form-control" type="file" />
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>