@model MEU.web.Models.TerminalViewModel

@{
    ViewData["Title"] = "AddTerminal";
}

<h2>AddTerminal</h2>

<h4>Terminal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTerminal" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Port_id" />

            <partial name="_Terminal" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="id">Back to List</a>
</div>

